$main-background: #fff !default;
$main-default: #41403e !default;
$btn-border-radius: 0.375rem;
$padding-x: 0.75rem !default;
$padding-y: 0.375rem !default;
$primary: #f03758 !default;
$primary-light: #ffb0bf !default;
$primary-dark: #c52c48 !default;
$primary-text: #fff !default;
$primary-outline-text: hsl(349, 84%, 56%) !default;
$hover: #d22344 !default;
$hover-light: #ff7b93 !default;
$hover-dark: #8a2638 !default;
$hover-text: #fff !default;
$hover-outline-text: #4d131d !default;
$hover-light: #ffe0e6 !default;
$processing: #9996A2 !default;
$processing-light: #c1b5e6af !default;
$processing-dark: #bcb1d4 !default;
$processing-text: #fff !default;
$processing-outline-text: #686868 !default;
$processing-light: #f8f8f8 !default;

:host button {
  background-color: inherit;
  border-width: 1px;
  border-style: solid;
  border-color: $main-default;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  text-decoration: none;
  letter-spacing: 1px;
  overflow: hidden;
  cursor: pointer;

  position: relative;
  display: inline-flex;
  padding: $padding-y $padding-x;
  border-radius: $btn-border-radius;
  transition: all 235ms ease-in-out 0s;

  span {
    position: relative;
    z-index: 1;
  }

  &::before {
    content: '';
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: $main-default;
    transition: width 0.5s, height 0.5s, background-color 0.25s;
  }

  &:disabled {
    &:hover {
      &::before {
        width: 0;
        height: 0;
      }
    }
  }

  &:hover {
    &::before {
      width: 300px;
      height: 300px;
      background-color: $main-default;
    }
    &:active {
      &::before {
        background-color: $main-background;
      }
    }
  }
}

:host(.primary) button {
  background-color: $primary;
  color: $primary-text;
  border-width: 0px;
  border-color: unset;

  &::before {
    background-color: $primary-light;
  }
  &:hover {
    &::before {
      background-color: $primary-light;
    }
    &:active {
      &::before {
        background-color: $primary-dark;
      }
    }
  }
}

:host(.primary-outline) button {
  background-color: $primary-light;
  color: $primary-outline-text;
  border-width: 1px;
  border-color: $primary-outline-text;

  &::before {
    background-color: $primary-dark;
  }
  &:hover {
    &::before {
      background-color: $primary-dark;
    }
    &:active {
      &::before {
        background-color: $primary-light;
      }
    }
  }
}

:host(.hover) button {
  background-color: $hover;
  color: $hover-text;
  border-width: 0px;
  border-color: unset;

  &::before {
    background-color: $hover-light;
  }
  &:hover {
    &::before {
      background-color: $hover-light;
    }
    &:active {
      &::before {
        background-color: $hover-dark;
      }
    }
  }
}

:host(.hover-outline) button {
  background-color: $hover-light;
  color: $hover-outline-text;
  border-width: 1px;
  border-color: $hover-outline-text;

  &::before {
    background-color: $hover-dark;
  }
  &:hover {
    &::before {
      background-color: $hover-dark;
    }
    &:active {
      &::before {
        background-color: $hover-light;
      }
    }
  }
}

:host(.processing) button {
  background-color: $processing;
  color: $processing-text;
  border-width: 0px;
  border-color: unset;

  &::before {
    background-color: $processing-light;
  }
  &:hover {
    &::before {
      background-color: $processing-light;
    }
    &:active {
      &::before {
        background-color: $processing-dark;
      }
    }
  }
}

:host(.processing-outline) button {
  background-color: $processing-light;
  color: $processing-outline-text;
  border-width: 1px;
  border-color: $processing-outline-text;

  &::before {
    background-color: $processing-dark;
  }
  &:hover {
    &::before {
      background-color: $processing-dark;
    }
    &:active {
      &::before {
        background-color: $processing-light;
      }
    }
  }
}