button, .yujin-btn, [type='button'] {
  display: inline-block;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $primary;
  border: 1px solid $primary-border;
}

